.banner-article{
    margin: 40px 100px;
}

.artikel-tittle{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #121212;
}

.artikel-card{
    margin-bottom: 40px;
}

.card-body img{
    border-radius: 12px;
    margin-bottom: 16px;
}

.card-text{
    font-size: 16px;
    color: #78828A;
    margin-bottom: 16px;
    line-height: 1.5;
}


@media Screen and (max-width: 540px) {
    .banner-article{
        margin: 0 16px;
    }

    .artikel-card{
        margin-bottom: 24px;
    }

    .artikel-tittle {
        font-size: 24px;
       
    }
}
